/* Background image with color overlay*/
.App {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(var(--main-bg-color),var(--main-bg-color)), url(/src/assets/background-image.jpg);
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}


/* Header styles */
header {
  width: 1020px;
  height: 148px;
  background-color: rgba(243, 243, 243,0.75);
  position: relative;
  top: 0;
  margin: 0 auto;
  padding: 15px;
}
.header-content {
  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 0 5px 5px grey;
}
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.header-nav {
  font-size: 36px;
  padding: 6px 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li .active {
  border-bottom: solid 10px var(--blue-color);
  border-radius: 5px;
}
h1 {
  font-size: 80px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  border-bottom: solid 10px black;
  border-radius: 5px;
}

.content {
  width: 1020px;
  background-color: rgba(243, 243, 243,0.75);
  padding: 15px;
  margin: 0 auto;
  position: relative;
  min-height: calc(100vh - 208px);
}


@media screen and (max-width: 900px) {
  header {
    height: 118px;
    padding: 12px;
  }
  .header-title {
    height: 80px;
  }
  .header-nav {
    font-size: 30px;
    padding: 4px 0;
  }
  nav ul li .active {
    border-bottom: solid 8px var(--blue-color);
    border-radius: 4px;
  }
  h1 {
    font-size: 60px;
  }
  .content {
    min-height: calc(100vh - 172px);
  }
}


@media screen and (max-width: 500px) {
  header {
    height: 102px;
    padding: 12px;
  }
  .header-title {
    height: 70px;
  }
  .header-nav {
    font-size: 24px;
    padding: 4px 0;
  }
  nav ul li .active {
    border-bottom: solid 7px var(--blue-color);
    border-radius: 3px;
  }
  h1 {
    font-size: 50px;
  }
  .content {
    min-height: calc(100vh - 156px);
  }  
}