.list-card {
  margin: 0 30px 30px 62px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list-header {
  display: flex;
  align-items: center;
  background-color: white;
  width:100%;
  height: 80px;
  box-shadow: 0 5px 5px grey;
  z-index: 1;
}

/* Gauge */
.card-gauge {
  height: 56px;
  width: 56px;
  background-color: white;
  border: solid 2px grey;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-32px);
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

/* .card-gauge {
  height: 56px;
  width: 56px;
  border: solid 4px var(--blue-color);
  border-radius: 50%;
  transform: translateX(-34px);
  position: absolute;
} */

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-content h2 {
  font-size: 40px;
  padding-left: 50px;
}

.card-options {
  display: flex;
  opacity: 0;
  transition: ease 0.5s
}

.option {
  margin: 0 10px;
  position: relative;
}

.option:hover {
  cursor: pointer;
}

.card-content:hover .card-options {
  opacity: 1;
  transition: ease 0.5s
} 

/* Tasks */
.list-footer{
  background-color: #EEEAEA;
  box-shadow: 0 5px 5px grey;
  width: 100%;
  margin: 0 15px;
  padding: 15px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.task-left {
  display: flex;
  align-items: center;
}

.task-options {
  display: flex;
}

.task-add {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-top: 10px;
  border-top: 1px solid grey;
}

.task-content {
  margin-left: 10px;
}

.task-add .task-content {
  padding-bottom: 4px;
}

/* tooltip */

.tooltip-text{
  visibility: hidden;
  position: absolute;
  
  z-index: 1;
  font-size: 20px;
  top: -35px;
  left: -5px;
  padding: 4px;
  background-color: lightgrey;
  border: 1px solid darkgrey;
  box-shadow: 0 5px 5px grey;
  white-space: nowrap;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Add list button */
.add-list-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.add-list-button:hover {
  cursor: pointer;
}



/* Popups */
.popup {
  position: absolute;
  height: 100vh;
  width: 100%;
  top:-178px;
  left:0;
  padding: 0 15px;
}

.popup-content {
  width: 500px;
  background-color: lightgrey;
  padding: 15px;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid black;
  box-shadow: 0 5px 5px grey;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  margin-bottom: 20px;
}

.popup-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-body input {
  height: 30px;
  width: 420px;
  font-size: 24px;
  outline-color: var(--blue-color) ;
}




.popup-close:hover {
  font-weight: bold;
  color: darkred;
}
.popup-button:hover {
  cursor: pointer;
}